/* CriarTabela.css */

/* Alerta de sucesso (fundo verde e texto branco) */
.alerta.sucesso {
  background-color: #28a745;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}

/* Alerta de erro (fundo vermelho e texto branco) */
.alerta.erro {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}
